<IfModule mod_rewrite.c>
 RewriteEngine on
RewriteCond $1 !^(index\.php|robots\.txt|assets|purchase_order)
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule mod_php5.c>
 php_value max_input_vars 5000
</IfModule>
